.landingBackground {
  min-height: 95vh;
  display: flex;
  align-items: center;
  background-image: url('../../../background.jpg');
  background-position: center;
  background-size: cover;
}

.title {
  font-size: 95px;
}
.subtitle {
  font-size: 25px;
  padding-top: 10px;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.intro-text {
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 0.7s ease-out 0s 1 slideInFromLeft;
}
.intro-buttons {
  animation: 0.8s ease-out 0s 1 slideInFromLeft;
  display: flex;
  /* justify-content: space-evenly; */
}
.customButton {
  border-radius: 25px;
  transition: transform 0.2s ease;
}
.customButton:hover {
  width: 200px;
  height: 55px;
  transform: scale(1.1);
}

/* refer below link for slide in animation */
/* https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */

/* @media only screen and (min-width: 1200px) {
  .intro-buttons {
  }
  .title {
    padding: 0 100px;
  }
}

@media only screen and (min-width: 768px) {
  .intro-buttons {
    padding: 0 100px;
  }
  .title {
    font-size: 60px;
  }
  .intro-buttons {
    width: 150px;
    height: 50px;
  }
} */
